/* Write your CSS code. */
body {
    padding-top: 54px;
}

textarea {
    resize: none;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.vertical-middle {
    vertical-align: middle;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.fieldset-bordered {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.legend-bordered {
    display: block;
    font-size: 14px;
    width: auto;
    padding: 2px 7px 2px 5px;
    margin-bottom: 20px;
    line-height: inherit;
    color: #333;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
