@model InventoryManagement.Models.Exit
@{
    ViewData["Title"] = "মাল হস্তান্তর";
}

<form asp-action="Create" method="post" class="form-horizontal">
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">নতুন মাল এন্ট্রি করুন</legend>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ReceiveDate" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="ReceiveDate" type="text" class="form-control DatePicker" required />
                        <span asp-validation-for="ReceiveDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameOfUser" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="NameOfUser" class="form-control" required />
                        <span asp-validation-for="NameOfUser" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="AddressOfUser" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <textarea asp-for="AddressOfUser" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="AddressOfUser" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DemandNoteNo" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="DemandNoteNo" class="form-control" required />
                        <span asp-validation-for="DemandNoteNo" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NumberOfReceivedProduct" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="NumberOfReceivedProduct" class="form-control" />
                        <span asp-validation-for="NumberOfReceivedProduct" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EntryId" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <select asp-for="EntryId" class="form-control" asp-items="ViewBag.EntryId"></select>
                        <span asp-validation-for="EntryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-4">
                <button type="submit" value="Create" class="btn btn-primary btn-block">মাল প্রদান করুন</button>
            </div>
        </div>
    </fieldset>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
