@model InventoryManagement.Models.Exit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Exit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReceiveDate" class="control-label"></label>
                <input asp-for="ReceiveDate" class="form-control" />
                <span asp-validation-for="ReceiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfUser" class="control-label"></label>
                <input asp-for="NameOfUser" class="form-control" />
                <span asp-validation-for="NameOfUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressOfUser" class="control-label"></label>
                <input asp-for="AddressOfUser" class="form-control" />
                <span asp-validation-for="AddressOfUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemandnoteNo" class="control-label"></label>
                <input asp-for="DemandnoteNo" class="form-control" />
                <span asp-validation-for="DemandnoteNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfReceivedProduct" class="control-label"></label>
                <input asp-for="NumberOfReceivedProduct" class="form-control" />
                <span asp-validation-for="NumberOfReceivedProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalNoOfProductAfterdeduction" class="control-label"></label>
                <input asp-for="TotalNoOfProductAfterdeduction" class="form-control" />
                <span asp-validation-for="TotalNoOfProductAfterdeduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryId" class="control-label"></label>
                <select asp-for="EntryId" class="form-control" asp-items="ViewBag.EntryId"></select>
                <span asp-validation-for="EntryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
