@model ApplicationManagement.ViewModel.TeacherApplication

@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="ContactPost" method="post" class="form-horizontal">
    @* Name *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">প্রার্থীর পূর্ণ নাম (Name Of Participant)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BengaliName" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="BengaliName" class="form-control" />
                        <span asp-validation-for="BengaliName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EnglishName" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="EnglishName" class="form-control" />
                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NickName" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="NickName" placeholder="Nick Name" type="text" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Name *@

    @* Personal Information *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">বাক্তিগত তথ্য (Personal Information)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label col-xs-4 vertical-middle">
                        জন্ম তারিখ
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="DateOfBirth" placeholder="Date Of Birth" type="text" class="form-control DatePicker" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Nationality" class="control-label col-xs-4 vertical-middle">
                        জাতীয়তা
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="Nationality" placeholder="Nationality" type="text" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NId" class="control-label col-xs-4 vertical-middle">
                        জাতীয় পরিচয় পত্র নং
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="NId" placeholder="National ID Card No" type="text" class="form-control" />
                        <span asp-validation-for="NId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Religion" class="control-label col-xs-4 vertical-middle">
                        ধর্ম (Religion)
                    </label>
                    <div class="col-xs-8">
                        <select asp-for="Religion" class="form-control">
                            <option value=0>ইসলাম (Islam)</option>
                            <option value=1>হিন্দু (Hinduism)</option>
                            <option value=2>বৌদ্ধ (Buddhists)</option>
                            <option value=3>খ্রিস্টান (Christians)</option>
                            <option value=4>আধ্যাত্ববাদ (Animists)</option>
                            <option value=5>নাস্তিক (Atheist)</option>
                        </select>
                        <span asp-validation-for="Religion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MaritalStatus" class="control-label col-xs-4 vertical-middle">
                        বৈবাহিক অবস্থা
                    </label>
                    <div class="col-xs-8">
                        <select asp-for="MaritalStatus" class="form-control">
                            <option value=0>অবিবাহিত (Unmarried)</option>
                            <option value=1>বিবাহিত (Married)</option>
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Personal Information *@
    
    @* Family Information  *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">পারিবারিক তথ্য (Family Information)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FatherName" class="control-label col-xs-4 vertical-middle">
                        পিতার নাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="FatherName" placeholder="Father Name" type="text" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MotherName" class="control-label col-xs-4 vertical-middle">
                        মাতার নাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="MotherName" placeholder="Mother Name" type="text" class="form-control" />
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SpouceName" class="control-label col-xs-4 vertical-middle">
                        স্বামী / স্ত্রীর নাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="SpouceName" placeholder="Spouce Name" type="text" class="form-control" />
                        <span asp-validation-for="SpouceName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Family Information *@
    
    @* Present Address *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">বর্তমান ঠিকানা (Present Address)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PresentHoldingNoOrVillage" class="control-label col-xs-4 vertical-middle">
                        হোল্ডিং নং / গ্রাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PresentHoldingNoOrVillage" placeholder="Holding No Or Village" type="text" class="form-control" />
                        <span asp-validation-for="PresentHoldingNoOrVillage" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PresentRoadBlockSector" class="control-label col-xs-4 vertical-middle">
                        রোড/ব্লক/সেক্টর
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PresentRoadBlockSector" placeholder="Road/Block/Sector" type="text" class="form-control" />
                        <span asp-validation-for="PresentRoadBlockSector" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PresentThana" class="control-label col-xs-4 vertical-middle">
                        থানা
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PresentThana" placeholder="Thana" type="text" class="form-control" />
                        <span asp-validation-for="PresentThana" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PresentPostOffice" class="control-label col-xs-4 vertical-middle">
                        পোস্ট অফিস
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PresentPostOffice" placeholder="Post Office" type="text" class="form-control" />
                        <span asp-validation-for="PresentPostOffice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PresentDistrict" class="control-label col-xs-4 vertical-middle">
                        জেলা
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PresentDistrict" placeholder="District" type="text" class="form-control" />
                        <span asp-validation-for="PresentDistrict" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Present Address *@

    @* Permanent Address *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">স্থায়ী ঠিকানা (Permanent Address)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PermanentHoldingNoOrVillage" class="control-label col-xs-4 vertical-middle">
                        হোল্ডিং নং / গ্রাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PermanentHoldingNoOrVillage" placeholder="Holding No Or Village" type="text" class="form-control" />
                        <span asp-validation-for="PermanentHoldingNoOrVillage" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PermanentRoadBlockSector" class="control-label col-xs-4 vertical-middle">
                        রোড/ব্লক/সেক্টর
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PermanentRoadBlockSector" placeholder="Road Block Sector" type="text" class="form-control" />
                        <span asp-validation-for="PermanentRoadBlockSector" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PermanentThana" class="control-label col-xs-4 vertical-middle">
                        থানা
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PermanentThana" placeholder="Thana" type="text" class="form-control" />
                        <span asp-validation-for="PermanentThana" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PermanentPostOffice" class="control-label col-xs-4 vertical-middle">
                        পোস্ট অফিস
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PermanentPostOffice" placeholder="Post Office" type="text" class="form-control" />
                        <span asp-validation-for="PermanentPostOffice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PermanentDistrict" class="control-label col-xs-4 vertical-middle">
                        জেলা
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PermanentDistrict" placeholder="District" type="text" class="form-control" />
                        <span asp-validation-for="PermanentDistrict" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Present Address *@

    @* Organization Contact *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">সাধারন তথ্য (Common Information)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="HasContactWithAnyOrganization" class="control-label col-xs-4 vertical-middle">
                        কোন বিশ্ববিদ্যালয়ে অথবা কোনও প্রতিস্থানে কোন নির্দিষ্ট সময়ের জন্য চাকুরি করার কোন চুক্তি আছে কি না (Has Contact With Any Organization)
                    </label>
                    <div class="col-xs-8">
                        <select asp-for="HasContactWithAnyOrganization" class="form-control" >
                            <option value=0>হ্যাঁ (Yes)</option>
                            <option value=1>না (No)</option>
                        </select>
                        <span asp-validation-for="HasContactWithAnyOrganization" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OrganizationContactDescription" class="control-label col-xs-4 vertical-middle">
                        থাকলে তার বিবরন
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="OrganizationContactDescription" placeholder="Organization Contact Description (If Yes)" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="OrganizationContactDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./University Forms Information  *@

    @* Volunteer Experience *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">কোন আবাসিক বিশ্ববিদ্যালয়ে ও ছাত্রদের যৌথ গঠনমূলক কার্যকলাপ পরিচালনার অভিজ্ঞতা (Volunteer Experience)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="VolunteerExperience" class="control-label col-xs-4 vertical-middle">
                        গঠনমূলক কার্যকলাপ পরিচালনার অভিজ্ঞতার বিবরণ
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="VolunteerExperience" placeholder="Volunteer Experience" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="VolunteerExperience" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Volunteer Experience *@

    @* Is Ever Suspended *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">চাকুরী থেকে বরখাস্ত প্রসঙ্গ (Suspended)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsEverSuspended" class="control-label col-xs-4 vertical-middle">
                        কখনো চাকুরী থেকে বরখাস্ত হইয়াছেন কি না (Did You Ever Suspended From Any Job)
                    </label>
                    <div class="col-xs-8">
                        <select asp-for="IsEverSuspended" class="form-control">
                            <option value=0>হ্যাঁ (Yes)</option>
                            <option value=1>না (No)</option>
                        </select>
                        <span asp-validation-for="IsEverSuspended" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SuspensionReason" class="control-label col-xs-4 vertical-middle">
                        হয়ে থাকলে তার কারণ (Suspension Reason If Yes)
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="SuspensionReason" placeholder="Suspension Reason" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="SuspensionReason" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Is Ever Suspended *@

    @* Is Getting Pension *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">পেনশন সংক্রান্ত (Pension Related Info)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsGettingPension" class="control-label col-xs-4 vertical-middle">
                        কোথাও থেকে পেনশন প্রাপ্ত হোচ্ছেন কি (Is Getting Pension)
                    </label>
                    <div class="col-xs-8">
                        <select asp-for="IsGettingPension" class="form-control">
                            <option value=0>হ্যাঁ (Yes)</option>
                            <option value=1>না (No)</option>
                        </select>
                        <span asp-validation-for="IsGettingPension" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PensionAmount" class="control-label col-xs-4 vertical-middle">
                        পেনশনের পরিমান টাকায়
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="PensionAmount" placeholder="Pension Amount" type="number" min="100000" max="999999999999" class="form-control" />
                        <span asp-validation-for="PensionAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PensionOrganizationName" class="control-label col-xs-4 vertical-middle">
                        যেই প্রথিষ্ঠান থেকে পেনশন পাচ্ছেন
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="PensionOrganizationName" placeholder="From What Organization You Are Getting Pension" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="PensionOrganizationName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Is Getting Pension *@

    @* Is Involved With AnyAssociation *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">প্রতিষ্ঠান/সংস্থা/সমিতির সাথে জড়িত সংক্রান্ত (Involvement With Any Association)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsInvolvedWithAnyAssociation" class="control-label col-xs-4 vertical-middle">
                        কোনো প্রতিষ্ঠান/সংস্থা/সমিতির সাথে জড়িত কি না (Do you Involved With Any Association)
                    </label>
                    <div class="col-xs-8">
                        <select asp-for="IsInvolvedWithAnyAssociation" class="form-control">
                            <option value=0>হ্যাঁ (Yes)</option>
                            <option value=1>না (No)</option>
                        </select>
                        <span asp-validation-for="IsInvolvedWithAnyAssociation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameOfAssociation" class="control-label col-xs-4 vertical-middle">
                        জড়িত হলে সংস্থার নাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="NameOfAssociation" placeholder="Name Of The Association If You Are Involved" type="text" class="form-control" />
                        <span asp-validation-for="NameOfAssociation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionOfAssociation" class="control-label col-xs-4 vertical-middle">
                        জড়িত হলে সংস্থার বিবরণ
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="DescriptionOfAssociation" placeholder="Description of the Association If Yes" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="DescriptionOfAssociation" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Is Involved With AnyAssociation *@

    @* Payment Information *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">টাকা প্রদান (Payment)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BankDraftOrPayOrderNo" class="control-label col-xs-4 vertical-middle">
                        ব্যাংক ড্রাফট/পে অর্ডার নং
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="BankDraftOrPayOrderNo" placeholder="Bank Draft Or PayOrder No" type="text" class="form-control" />
                        <span asp-validation-for="BankDraftOrPayOrderNo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DateOfDraftOrOrder" class="control-label col-xs-4 vertical-middle">
                        ব্যাংকে টাকা জমা দেওয়ার তারিখ
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="DateOfDraftOrOrder" placeholder="Date Of Bank Draft / Pay Order" type="text" class="form-control DatePicker" />
                        <span asp-validation-for="DateOfDraftOrOrder" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="AmountOfMoney" class="control-label col-xs-4 vertical-middle">
                        টাকার পরিমান
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="AmountOfMoney" type="number" min="100" max="99999999999999999" placeholder="Bank Draft Or PayOrder No" class="form-control" />
                        <span asp-validation-for="AmountOfMoney" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameOfBank" class="control-label col-xs-4 vertical-middle">
                        ব্যাংকের নাম
                    </label>
                    <div class="col-xs-8">
                        <input asp-for="NameOfBank" placeholder="Bank Name Where You Have Paid Draft / Pay Order" type="text" class="form-control" />
                        <span asp-validation-for="NameOfBank" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BranchOfBank" class="control-label col-xs-4 vertical-middle">
                        ব্যাংকের শাখা
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="BranchOfBank" placeholder="Branch Of Bank Where You Have Paid Draft / Pay Order" class="form-control" rows="5" ></textarea>
                        <span asp-validation-for="BranchOfBank" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Payment Information *@

    @* Extra Information *@
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">অতিরিক্ত তথ্য (Exra Info)</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ExtraInformation" class="control-label col-xs-4 vertical-middle">
                        অতিরিক্ত তথ্য (যদি থাকে)
                    </label>
                    <div class="col-xs-8">
                        <textarea asp-for="ExtraInformation" placeholder="Extra Information (If Any)" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="ExtraInformation" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @* ./Extra Information *@

    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4">
            <button type="submit" class="btn btn-primary btn-block">পরবর্তী ধাপ (Next)</button>
        </div>
    </div>
</form>
