@model InventoryManagement.Models.Entry

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialCount" class="control-label"></label>
                <input asp-for="InitialCount" class="form-control" />
                <span asp-validation-for="InitialCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfSupplier" class="control-label"></label>
                <input asp-for="NameOfSupplier" class="form-control" />
                <span asp-validation-for="NameOfSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressOfSupplier" class="control-label"></label>
                <input asp-for="AddressOfSupplier" class="form-control" />
                <span asp-validation-for="AddressOfSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfProduct" class="control-label"></label>
                <input asp-for="DescriptionOfProduct" class="form-control" />
                <span asp-validation-for="DescriptionOfProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSuppliedProduct" class="control-label"></label>
                <input asp-for="NumberOfSuppliedProduct" class="form-control" />
                <span asp-validation-for="NumberOfSuppliedProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliedProductUnitPrice" class="control-label"></label>
                <input asp-for="SuppliedProductUnitPrice" class="form-control" />
                <span asp-validation-for="SuppliedProductUnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliedProductTotalPrice" class="control-label"></label>
                <input asp-for="SuppliedProductTotalPrice" class="form-control" />
                <span asp-validation-for="SuppliedProductTotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalNoOfProductAfterInserted" class="control-label"></label>
                <input asp-for="TotalNoOfProductAfterInserted" class="form-control" />
                <span asp-validation-for="TotalNoOfProductAfterInserted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
